<div>
  <br>
  <br>
  <br>
  <br>
    <div class="row">
        <div class="col-6 col-md-3 "></div>
        <div class="col-6 col-md-6 alert-warning">
          <br> 
            <h3 class="alert alert-primary d-flex justify-content-center">User Registration</h3>  
            <div *ngIf="message!==''" class="alert alert-danger">{{message}}</div>   
            <form>
                <input type="text" class="form-control mb-2" placeholder="User Name" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}"
                pattern="^[A-Za-z ]{7,}$" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

  <div *ngIf="name.errors?.required">
    Name is required.
  </div>
  <div *ngIf="name.errors?.pattern">
    It Should take only characters and aleast 7 characters
  </div>
</div>
                <input type="password" class="form-control mb-2" placeholder="User Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"
                pattern="^[A-Za-z0-9*&^%$#@!]{7,}$" required #password="ngModel">
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger">
    
      <div *ngIf="password.errors?.required">
        password is required.
      </div>
      <div *ngIf="password.errors?.pattern">
        password must be at least 7 characters long and use all characters in your keyboard 
      </div>
    </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success mr-2" (click)="registerUser()">Register</button>
                    <button type="button" class="btn btn-success" [routerLink]="['']">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-6 col-md-3"></div>
    </div>
</div>
